name: CI

on: [push]

jobs:
  test:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Packages
        # there's a problem with ganache-core using a very old version of ethereumjs-abi which fails on git checkout with ssh reasons
        run: |
          git config --global url."https://".insteadOf git://
          git config --global url."https://".insteadOf git+https://
          git config --global url."https://".insteadOf ssh://git
          npm ci
      - name: Check Lint
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Build
        run: npm run build